.global-nav__content {
    align-items: center;
    display: flex;
    margin: 0 auto;
    min-height: 100%;
    width: 1128px;
}

abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, summary, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
*, :after, :before {
    box-sizing: inherit;
}
user agent stylesheet
div {
    display: block;
}
.large-header, body, h1, p {
    font-weight: 400;
    color: rgba(0,0,0,.9);
}